<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="regideSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="regideSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://zframe.ir/regide.asmx" binding="basicHttpBinding"
                bindingConfiguration="regideSoap" contract="regsite.regideSoap"
                name="regideSoap" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Stimulsoft.Base" publicKeyToken="ebe6666cba19647a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2018.1.2.0" newVersion="2018.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Stimulsoft.Report" publicKeyToken="ebe6666cba19647a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2018.1.2.0" newVersion="2018.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Stimulsoft.Controls" publicKeyToken="ebe6666cba19647a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2018.1.2.0" newVersion="2018.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
